.App {
  height: 100vh;
  width: 100vw;
  overflow: overlay;
}

.App > section {
  height: 100%;
  width: 100%;
}

/*    LOGIN */
.login {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  /* margin-bottom: 40px; */
  flex-direction: column;
  justify-content: space-around;
  transition: all 1s;
}

.login * {
  margin: 0px;
}

.login > article {
  border: 10px #2c4b68 solid;
  display: flex;
  align-items: center;
  grid-gap: 50px;
  gap: 50px;
  justify-content: center;
  width: 600px;
  padding: 50px;
  border-radius: 30px;
}

.login > article > img {
  width: 313px;
  height: 245px;
  object-fit: cover;
  object-position: 51% 42%;
}

.login > article > form > .input {
  width: 100%;
  margin-bottom: 15px;
  /* height: 0px; */
}

.login > article > form {
  width: 300px;
}

.signUp {
  position: relative;
  line-height: 50%;
  padding-top: 20px;
}

.signUpCntr {
  height: 40px;
}

.signUp > span:hover {
  color: blue;
  cursor: pointer;
  font-size: 20px;
}

.signUp > span {
  position: absolute;
  margin-left: 5px;
}

.forgotPwd {
  margin-left: 89px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.login > article button {
  width: 100%;
  margin: 10px 0px;
}

.forgotPwd:hover {
  color: rgb(41, 86, 184);
  text-decoration: underline;
}

.signInError {
  color: brown;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.tokenExpPopupCntr {
  background-color: #90b390;
  transition: all 0.6s;
  width: 100%;
}

.tokenExpPopup {
  text-align: center;
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 22px;
  font-weight: 100;
  line-height: 3vh;
}

@media (max-width: 768px) {
  .login > article {
    flex-direction: column;
    width: 238px;
    height: 495px;
  }
}

@media (max-width: 450px) {
  .tokenExpPopupCntr {
    height: fit-content;
  }
}

/*    REGISTER */
.backButton {
  background-color: white;
  padding: 20px;
}

.userAdded {
  font-size: 27px;
  font-weight: bold;
  color: green;
}

.regMaincntr > section {
  height: 100%;
  width: 100%;
}

.register {
  background-color: white;
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 89%;
}

.register * {
  margin: 0px;
}

.register > article {
  border: 4px #2c4b68 solid;
  display: flex;
  align-items: center;
  grid-gap: 50px;
  gap: 50px;
  justify-content: center;
  width: 600px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.register > article > img {
  width: 313px;
  height: 245px;
  object-fit: cover;
  object-position: 51% 42%;
}

.register > article > form > .input {
  width: 100%;
  margin-bottom: 15px;
}

.input > label {
  top: -5px;
}

.input > div {
  top: 2px;
  height: 40px;
}

.register > article > form {
  width: 300px;
}

.register > article button {
  width: 100%;
  margin: 10px 0px;
}

.register > article > div > p:last-child {
  text-align: center;
}

.signInError {
  color: brown;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.RegRadioBtn > p {
  margin: 13px;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.RegRadioBtn > div {
  display: flex;
  justify-content: flex-start;
  gap: 81px;
}

.RegRadioBtn > div:nth-child(3) {
  justify-content: space-between;
  gap: 0px;
}

@media (max-width: 768px) {
  .register {
    height: auto;
  }

  .register > article {
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    justify-content: initial;
  }

  .register > article > img {
    width: 217px;
    height: 147px;
  }

  .register > article > form > .input {
    margin: 5px 30px;
    margin-bottom: 10px;
    width: 80%;
  }

  .RegRadioBtn > div {
    display: flex;
    gap: 0px;
    flex-direction: column;
    text-align: center;
  }

  .RegRadioBtn > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .RegRadioBtn input,
  .RegRadioBtn label {
    margin-bottom: 5px;
  }

  .register > article button {
    width: 70%;
    margin: 10px 0px;
    margin-left: 45px;
  }
}

/* RESET PASSWORD: */
.rstPwdPopUpCtnr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #90b390;
  transition: all 1s;
}

.rstPwdPopUp {
  color: white;
  margin: 0px;
  font-size: 22px;
  font-weight: 100;
  text-align: center;
  width: 90%;
}

@media (max-width: 520px) {
  .rstPwdPopUp {
    font-size: 18px;
  }
}

.homeContr > div {
  background-color: lawngreen;
  height: 60px;
  width: 100vw;
}

/* HOME */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #2c4b68;
  color: white;
  height: 9vh;
  height: auto !important;
  width: auto !important;
}

.home > p {
  margin: 0px;
}

.home article {
  display: flex;
  width: 270px;
}

.home > article > p {
  margin: 9px;
}

.home > article > p > svg {
  width: 45px;
  height: 35px;
  cursor: pointer;
}

.home > article > p:hover {
  transform: scale(1.2);
  color: rgb(221, 183, 137);
}

.homeSearch {
  display: flex;
  align-items: center;
}

.homeSearch input {
  width: 200px;
  height: 26px;
  position: absolute;
}

.homeSearch span {
  position: relative;
  left: 177px;
  color: black;
  top: 1px;
}

.homeSearch > span > svg {
  width: 30px;
  height: 30px;
}

/* LOGIN BUTTON: */
.loginButton {
  position: absolute;
  background-color: #2c4b68;
  width: min-content;
  height: min-content;
  right: 0px;
  top: 0px;
  transition: all 0.8s;
  z-index: 1;
}

.loginButton article img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.loginButton article:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  color: white;
}

.loginButton article:nth-child(1) p {
  margin: 0px;
}

.loginButton article:nth-child(2) {
  margin-top: 20px;
  display: flex;
}

.loginButton button {
  width: 150px;
  height: 32px;
  background-color: #2c4b68;
  color: white;
  border: whitesmoke solid 1px;
  cursor: pointer;
}

.loginButton button:hover {
  background-color: rgb(221, 183, 137);
}
